/*!
 * vd-view colours
 */
.fg-white {
  color: white;
}

.svg-viewdata-view-cell .fg-white {
  fill: white;
}
.svg-viewdata-view-cell.mosaic .fg-white {
  stroke: white;
}
.svg-viewdata-view-cell.concealed .fg-white {
  fill: transparent;
  stroke: transparent;
}
.svg-viewdata-view-cell.concealed .svg-viewdata-view-cell.mosaic .fg-white {
  stroke: transparent;
}

.revealed .svg-viewdata-view-cell.concealed .fg-white {
  fill: white;
}
.revealed .svg-viewdata-view-cell.concealed .revealed .svg-viewdata-view-cell.mosaic .fg-white {
  stroke: white;
}

.bg-white {
  background-color: white;
}
.bg-white.text-auto {
  color: rgb(52, 58, 64);
}

.svg-viewdata-view-cell .bg-white {
  fill: white;
  stroke: white;
}

.fg-black {
  color: black;
}

.svg-viewdata-view-cell .fg-black {
  fill: black;
}
.svg-viewdata-view-cell.mosaic .fg-black {
  stroke: black;
}
.svg-viewdata-view-cell.concealed .fg-black {
  fill: transparent;
  stroke: transparent;
}
.svg-viewdata-view-cell.concealed .svg-viewdata-view-cell.mosaic .fg-black {
  stroke: transparent;
}

.revealed .svg-viewdata-view-cell.concealed .fg-black {
  fill: black;
}
.revealed .svg-viewdata-view-cell.concealed .revealed .svg-viewdata-view-cell.mosaic .fg-black {
  stroke: black;
}

.bg-black {
  background-color: black;
}
.bg-black.text-auto {
  color: white;
}

.svg-viewdata-view-cell .bg-black {
  fill: black;
  stroke: black;
}

.fg-red {
  color: rgb(255, 0, 0);
}

.svg-viewdata-view-cell .fg-red {
  fill: rgb(255, 0, 0);
}
.svg-viewdata-view-cell.mosaic .fg-red {
  stroke: rgb(255, 0, 0);
}
.svg-viewdata-view-cell.concealed .fg-red {
  fill: transparent;
  stroke: transparent;
}
.svg-viewdata-view-cell.concealed .svg-viewdata-view-cell.mosaic .fg-red {
  stroke: transparent;
}

.revealed .svg-viewdata-view-cell.concealed .fg-red {
  fill: rgb(255, 0, 0);
}
.revealed .svg-viewdata-view-cell.concealed .revealed .svg-viewdata-view-cell.mosaic .fg-red {
  stroke: rgb(255, 0, 0);
}

.bg-red {
  background-color: rgb(255, 0, 0);
}
.bg-red.text-auto {
  color: white;
}

.svg-viewdata-view-cell .bg-red {
  fill: rgb(255, 0, 0);
  stroke: rgb(255, 0, 0);
}

.fg-green {
  color: rgb(0, 255, 0);
}

.svg-viewdata-view-cell .fg-green {
  fill: rgb(0, 255, 0);
}
.svg-viewdata-view-cell.mosaic .fg-green {
  stroke: rgb(0, 255, 0);
}
.svg-viewdata-view-cell.concealed .fg-green {
  fill: transparent;
  stroke: transparent;
}
.svg-viewdata-view-cell.concealed .svg-viewdata-view-cell.mosaic .fg-green {
  stroke: transparent;
}

.revealed .svg-viewdata-view-cell.concealed .fg-green {
  fill: rgb(0, 255, 0);
}
.revealed .svg-viewdata-view-cell.concealed .revealed .svg-viewdata-view-cell.mosaic .fg-green {
  stroke: rgb(0, 255, 0);
}

.bg-green {
  background-color: rgb(0, 255, 0);
}
.bg-green.text-auto {
  color: white;
}

.svg-viewdata-view-cell .bg-green {
  fill: rgb(0, 255, 0);
  stroke: rgb(0, 255, 0);
}

.fg-yellow {
  color: rgb(255, 255, 0);
}

.svg-viewdata-view-cell .fg-yellow {
  fill: rgb(255, 255, 0);
}
.svg-viewdata-view-cell.mosaic .fg-yellow {
  stroke: rgb(255, 255, 0);
}
.svg-viewdata-view-cell.concealed .fg-yellow {
  fill: transparent;
  stroke: transparent;
}
.svg-viewdata-view-cell.concealed .svg-viewdata-view-cell.mosaic .fg-yellow {
  stroke: transparent;
}

.revealed .svg-viewdata-view-cell.concealed .fg-yellow {
  fill: rgb(255, 255, 0);
}
.revealed .svg-viewdata-view-cell.concealed .revealed .svg-viewdata-view-cell.mosaic .fg-yellow {
  stroke: rgb(255, 255, 0);
}

.bg-yellow {
  background-color: rgb(255, 255, 0);
}
.bg-yellow.text-auto {
  color: rgb(52, 58, 64);
}

.svg-viewdata-view-cell .bg-yellow {
  fill: rgb(255, 255, 0);
  stroke: rgb(255, 255, 0);
}

.fg-blue {
  color: rgb(0, 0, 255);
}

.svg-viewdata-view-cell .fg-blue {
  fill: rgb(0, 0, 255);
}
.svg-viewdata-view-cell.mosaic .fg-blue {
  stroke: rgb(0, 0, 255);
}
.svg-viewdata-view-cell.concealed .fg-blue {
  fill: transparent;
  stroke: transparent;
}
.svg-viewdata-view-cell.concealed .svg-viewdata-view-cell.mosaic .fg-blue {
  stroke: transparent;
}

.revealed .svg-viewdata-view-cell.concealed .fg-blue {
  fill: rgb(0, 0, 255);
}
.revealed .svg-viewdata-view-cell.concealed .revealed .svg-viewdata-view-cell.mosaic .fg-blue {
  stroke: rgb(0, 0, 255);
}

.bg-blue {
  background-color: rgb(0, 0, 255);
}
.bg-blue.text-auto {
  color: white;
}

.svg-viewdata-view-cell .bg-blue {
  fill: rgb(0, 0, 255);
  stroke: rgb(0, 0, 255);
}

.fg-magenta {
  color: rgb(255, 0, 255);
}

.svg-viewdata-view-cell .fg-magenta {
  fill: rgb(255, 0, 255);
}
.svg-viewdata-view-cell.mosaic .fg-magenta {
  stroke: rgb(255, 0, 255);
}
.svg-viewdata-view-cell.concealed .fg-magenta {
  fill: transparent;
  stroke: transparent;
}
.svg-viewdata-view-cell.concealed .svg-viewdata-view-cell.mosaic .fg-magenta {
  stroke: transparent;
}

.revealed .svg-viewdata-view-cell.concealed .fg-magenta {
  fill: rgb(255, 0, 255);
}
.revealed .svg-viewdata-view-cell.concealed .revealed .svg-viewdata-view-cell.mosaic .fg-magenta {
  stroke: rgb(255, 0, 255);
}

.bg-magenta {
  background-color: rgb(255, 0, 255);
}
.bg-magenta.text-auto {
  color: white;
}

.svg-viewdata-view-cell .bg-magenta {
  fill: rgb(255, 0, 255);
  stroke: rgb(255, 0, 255);
}

.fg-cyan {
  color: rgb(0, 255, 255);
}

.svg-viewdata-view-cell .fg-cyan {
  fill: rgb(0, 255, 255);
}
.svg-viewdata-view-cell.mosaic .fg-cyan {
  stroke: rgb(0, 255, 255);
}
.svg-viewdata-view-cell.concealed .fg-cyan {
  fill: transparent;
  stroke: transparent;
}
.svg-viewdata-view-cell.concealed .svg-viewdata-view-cell.mosaic .fg-cyan {
  stroke: transparent;
}

.revealed .svg-viewdata-view-cell.concealed .fg-cyan {
  fill: rgb(0, 255, 255);
}
.revealed .svg-viewdata-view-cell.concealed .revealed .svg-viewdata-view-cell.mosaic .fg-cyan {
  stroke: rgb(0, 255, 255);
}

.bg-cyan {
  background-color: rgb(0, 255, 255);
}
.bg-cyan.text-auto {
  color: rgb(52, 58, 64);
}

.svg-viewdata-view-cell .bg-cyan {
  fill: rgb(0, 255, 255);
  stroke: rgb(0, 255, 255);
}